/* Section BTS SIO */
/* Bloc BTS SIO */
.bloc_bts_sio {
    margin-bottom: 20px;
    background-color: #050505;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin-bottom: 50px;
}


.com_bts_sio {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; /* Centrer éléments au sein de la div tout en laissant un espace */
    align-items: center;
    text-align: center;
}

.com_bts_sio p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0%;
}

.logo_bts_sio {
    width: 17%;
    border-radius: 20px;
}

.bouton_clique_ici {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #21c25d;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    margin: 4px;
    font-size: 16px;
    transition: background-color 1s ease, transform 0.2s ease;
    border: 0px;
}


.bouton_clique_ici:hover {
    transform: translateY(-3px); /* Légère élévation */
    box-shadow: 0px 10px 20px #01461a; /* Ombre plus grande pour l'effet 3D */
}




/* Bloc Option*/
.bloc_opt_bts_sio {
    display: flex;
    flex-direction: row;
    gap: 70px; /* Espacement entre les div */
    
}

.bloc_opt_bts_sio ul li {
    margin-left: 50px;
}

/* Section Spécialités */
/* Option SLAM */
.opt_slam {
    margin-bottom: 20px;
    background-color: #050505;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}



/* Option SISR */
.opt_sisr {
    margin-bottom: 20px;
    background-color: #050505;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}
