/* Section BTS SIO */


/* Bloc BTS SIO */
.bloc_bts_sio {
    margin-bottom: 20px;
    background-color: #050505;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin-bottom: 50px;
}




/* Bloc Option*/
.bloc_opt_bts_sio {
    display: flex;
    flex-direction: row;
    gap: 70px; /* Espacement entre les div */
    
}

.bloc_opt_bts_sio ul li {
    margin-left: 50px;
}


/* Option SLAM */
.opt_slam {
    margin-bottom: 20px;
    background-color: #050505;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}



/* Option SISR */
.opt_sisr {
    margin-bottom: 20px;
    background-color: #050505;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}
