/* Section Ecole & Entreprise */


/* Bloc Ecole */
.bloc_ecole {
    margin-bottom: 20px;
    background-color: #050505;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.com_ensitech {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; /* Centrer éléments au sein de la div tout en laissant un espace */
    align-items: center;
    text-align: center;
}

.logo_ensitech {
    border-radius: 20px;
}


/* Bloc Entreprise */
.bloc_entreprise {
    margin-bottom: 20px;
    background-color: #050505;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.com_caps {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; /* Centrer éléments au sein de la div tout en laissant un espace */
    align-items: center;
    text-align: center;
}

.logo_caps {
    width: 120px;
    border-radius: 20px;
}


