/* Par defaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


/* Corps de la page */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #0c0c0c;
    color: #ffffff;
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 60px; /* Valeur à ajuster pour que le contenu ne soit pas recouvert par le footer */
}


/* Haut de page */
header {
    background-color: #000000;
    padding-top: 4px 0;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

/* Div du logo */
header div {
    margin-left: 10px;
}


header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #21c25d;
    text-decoration: none; /* Enlève le soulignement par défaut */
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
}



/* Milieu de page / Principal */
main {
   max-width: 1000px;
    width: 100%;
    padding: 20px;
    margin: 0 auto; 
}

/* Style pour chaque section du main */
section {
    margin-bottom: 10px;
    padding-top: 50px;
}

section h1{
    color: #ffffff;
    
}

section h2 {
    color: #21c25d;
    margin-bottom: 10px;
    font-size: 1.4em;
    border-bottom: 2px solid #111111;
    padding-bottom: 5px;
}

section h3 {
    font-size: 1.2rem;
}

section p {
    font-size: 1rem;
}



/* Bas de page */
footer {
    text-align: center;
    background-color: #000000;
    color: #fff;
    position: absolute;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    font-size: 12px;
}

