/* Par defaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


/* Corps de la page */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #2b2929;
    color: #ffffff;
}


/* Haut de page */
header {
    background-color: #212127;
    padding-top: 10px 0;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

/* Div du logo */
header div {
    margin-left: 10px;
}


header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #21c25d;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}


/* Milieu de page / Principal */
main {
    padding: 20px;
    padding-bottom: 50px;
    max-width: 1000px;
    margin: 0 auto;
    
}

/* Style pour chaque section du main */
section {
    margin-bottom: 10px;
    padding-top: 70px;
}

section h1{
    color: #ffffff;
    
}

section h2 {
    color: #21c25d;
    margin-bottom: 10px;
    font-size: 1.4em;
    border-bottom: 2px solid #000000;
    padding-bottom: 5px;
}

section h3 {
    font-size: 18px;
}

section p {
    font-size: 1em;
}

/* Bloc */
.bloc {
    margin-bottom: 20px;
    background-color: #1a1919;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}


/* Bas de page */
footer {
    text-align: center;
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}

