/* Section Réalisations */
/* Bloc Projet 1 */
.bloc_prj1 {
    margin-bottom: 20px;
    background-color: #050505;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
}

.screen_real1 {
    width: 400px;
    border-radius: 20px;
}

.droite_desc_prj1 {
    display: flex;
    flex-direction: column;
}

/* Boutons et langages Projet 1 */
.liens_prj1 {
    display: flex; /* Active le mode flexbox */
    flex-direction: row;
    align-items: center; /* Centre les boutons verticalement (si nécessaire) */
    justify-content: center;
    height: 100px; /* Facultatif, pour démontrer l'alignement vertical */
    margin-top: 40px;
}

.boutons_prj1 {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #21c25d;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    margin: 40px;
    font-size: 16px;
    transition: background-color 1s ease, transform 0.2s ease;
}


.boutons_prj1:hover {
    transform: translateY(-3px); /* Légère élévation */
    box-shadow: 0px 10px 20px #01461a; /* Ombre plus grande pour l'effet 3D */
}

.lang_prj1 {
    margin-left: 40px;
}


/* Bloc Projet 2 */
.bloc_prj_2 {
    margin-bottom: 20px;
    background-color: #050505;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}


/* Bloc Projet 3 */
.bloc_prj_3 {
    margin-bottom: 20px;
    background-color: #050505;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}


/* Bloc Projet 4 */
.bloc_prj_4 {
    margin-bottom: 20px;
    background-color: #050505;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}


/* Bloc Projet 5 */
.bloc_prj_5 {
    margin-bottom: 20px;
    background-color: #050505;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}


/* Bloc Projet 6 */
.bloc_prj_6 {
    margin-bottom: 20px;
    background-color: #050505;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

