/* HEADER */
/* Logo */
.logo_bf_et {
    height: 40px;
    align-items: center;
    transition: transform 0.4s ease; /* Transition fluide pour la transformation */
}


.logo_bf_et:hover {
    transition-delay: 0s; /* Délai avant que l'effet démarre */
    transform: scale(1.2); /* Légère augmentation avec une transformation */
}

/* Effet au survol */
header nav ul li a:hover {
    transform: scale(1.02); /* Agrandit légèrement l'onglet sur hover */
    text-decoration: underline; /* Ajoute un soulignement sous l'onglet sur hover */
}

/* Style pour l'onglet actif */
header nav ul li a.active {
    transform: scale(1.04); /* Agrandit davantage l'onglet actif */
    text-decoration: underline; /* Soulignement visible pour l'onglet actif */
}


/* MAIN */
/* Photo - Accueil */
.photo_accueil {
    width: 300px;
    border-radius: 50%;
}


/* FOOTER */



/* BOUTON (optionnel) */
/* Style du lien "remonter en haut" 
.back-to-top {
    position: fixed;
    bottom: 20px;  /* Position en bas de la page 
    right: 20px;   /* Position sur la droite 
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    opacity: 0.5;  /* Un peu transparent 
    transition: opacity 0.3s ease;  /* Effet de transition sur la transparence
}

/* Effet hover pour rendre le bouton plus visible au survol 
.back-to-top:hover {
    opacity: 1;
} */

