/* Section Veille Technologique */
.titre_java {
    font-size: 4rem;
    text-align: center;
}

.veille_techno li {
    margin-left: 4%;
}


/* Articles et Boutons des articles */
.articles {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les boutons verticalement (si nécessaire) */
    justify-content:left;
}

.liens_articles {
    display: flex; /* Active le mode flexbox */
    flex-direction: row;
    align-items: center; /* Centre les boutons verticalement (si nécessaire) */
    justify-content:center;
    height: 100px; /* Facultatif, pour démontrer l'alignement vertical */

}

.boutons_articles {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #21c25d;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    margin: 40px;
    font-size: 16px;
    transition: background-color 1s ease, transform 0.2s ease;
    border: 0px;
}


.boutons_articles:hover {
    transform: translateY(-3px); /* Légère élévation */
    box-shadow: 0px 10px 20px #01461a; /* Ombre plus grande pour l'effet 3D */
}


/* Bloc Veille Techno */
.bloc_veille_techno {
    margin-bottom: 20px;
    background-color: #050505;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.bloc_veille_techno_java {
    margin-bottom: 20px;
    background-color: #050505;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.bloc_veille_techno h4 {
    margin-left: 4%;
}

.sujet_veille {
    text-align: center;
}




/* Bloc Sécurité */
.bloc_secu {
    margin-bottom: 20px;
    background-color: #050505;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.logo_le_monde_informatique_sec {
    width: 8%;
    border-radius: 10%;
}

.logo_le_blog_de_sciam {
    width: 17%;
}


/* Bloc Réglementation */
.bloc_reglm {
    margin-bottom: 20px;
    background-color: #050505;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.logo_le_monde_informatique_reglm {
    width: 8%;
    border-radius: 10%;
}

.logo_developpez_com {
    width: 8%;
    border-radius: 10%;
}


/* Bloc Actualité Générale */
.bloc_act_gen {
    margin-bottom: 20px;
    background-color: #050505;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}



.articles_en_plus {
    display: flex;
    flex-direction: row;
    align-items: center; /* Centre les boutons verticalement (si nécessaire) */
    justify-content:center;
}

.liens_article_3_act_gen {
    display: flex;
    flex-direction: row;
    align-items: center; /* Centre les boutons verticalement (si nécessaire) */
    justify-content:center;
}

.logo_oracle {
    width: 14%;
}

.logo_sqli {
    width: 14%;
}

.logo_info_world {
    width: 20%;
}

.articles_en_plus {
    display: flex;
    flex-direction: row;
    align-items: center; /* Centre les boutons verticalement (si nécessaire) */
    justify-content:left;
}


/* Bloc UI / UX */
.bloc_ui_ux {
    margin-bottom: 20px;
    background-color: #050505;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.logo_medium {
    width: 8%;
border-radius: 10%;
}

.logo_reddit {
    width: 14%;
}


/* Pour aller plus loin... */
.bloc_plus_loin {
    margin-bottom: 20px;
    background-color: #050505;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}   

.lien_article_plus_loin {
    display: flex;
    flex-direction: row;
    align-items: center; /* Centre les boutons verticalement (si nécessaire) */
    justify-content:center;
}


.logo_youtube {
    width: 17%;
    border-radius: 70%;
}


